<h1><%= @post.title %></h1>

<p>
   <strong>Description :</strong> <%= @post.description %><br />
   <strong>Created Date:</strong> <%= @post.created_at %><br />
</p>

<hr />

<%= link_to 'Back', '/posts' %>
